@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(rgb(70, 76, 82), rgb(7, 7, 8) 85%);
    height: 100vh;
    overflow: scroll;
    width: 100%;
}

.flexing {
    display: flex;
    justify-content: center;
}

